// MAIN COLORS
$color-primary: #EF5BA1;
// $color-secondary: #61ABE2;

// SUPPORT COLORS
$color-light: #FFFFFF;
$color-dark: #313131;

// TEXT COLORS
// $color-text-dark: #313131;
// $color-text-light: #FFFFFF;
// $color-link: #61ABE2;
